<div class="mat-elevation-z4">
    <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">

        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef>Produto</th>
            <td mat-cell *matCellDef="let row">{{row.product.name}}</td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Preço</th>
            <td mat-cell *matCellDef="let row">{{row.product.price | currency: 'BRL' }}</td>
        </ng-container>
        
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Quantidade</th>
            <td mat-cell *matCellDef="let row">{{row.amount}}</td>
        </ng-container>
        
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let row">
                <button mat-button class="delete" (click)="remove(row)">
                    Remover
                </button>
            </td>

            <ng-container matColumnDef="total">
                <th class="totalCol" mat-header-cell *matHeaderCellDef>Total</th>
                <td class="totalCol" mat-cell *matCellDef="let row">{{ (row.amount * row.product.price) | currency: 'BRL' }}</td>
            </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <p>Total do Pedido: {{ total() | currency: 'BRL' }}</p>
</div>